[BASIC]
function-rgx=[a-z][a-zA-Z0-9]{2,}$
variable-rgx=[a-z][a-zA-Z0-9]{2,}$
argument-rgx=[a-z][a-zA-Z0-9]{2,}$
attr-rgx=[a-z][a-zA-Z0-9]{2,}$
method-rgx=[a-z][a-zA-Z0-9]{2,}$
good-names=self,cls

[SIMILARITIES]
min-similarity-lines=8
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[MESSAGES CONTROL]
disable=all
enable=duplicate-code,invalid-name
